	body
	{
		font-family: Arial;
		font-size: 9pt;
		margin: 0px;
	}
	p
	{
		margin: 0px;
	}
	a
	{
		color: #0000ff;
		text-decoration: none;
	}
	a:hover
	{
		text-decoration: underline;
	}
	a img {
		border: 0px;
		vertical-align: middle;
	}
	th
	{
		font-size: 9pt;
		text-align: left;
		background-image: url('../img/admin_background_th.gif');
		height: 20px;
		padding-left: 5px;
		padding-right: 5px;
		border-left: 1px solid #AABDDC;
		border-right: 1px solid #AABDDC;
		color: #3666AE;
	}
	
	td
	{
		font-size: 8pt;
	}
	
	.td1, .td1a, .td2a, .td1right, .td1center
	{
		background-color: #f0f0f0;
		border-top: 1px solid #ffffff;
		border-right: 1px solid #ffffff;
	}
	
	.td2, .td1b, .td2b, .td2right, .td2center
	{
		background-color: #e0e0e0;
		border-top: 1px solid #ffffff;
		border-right: 1px solid #ffffff;
	}
	
	.td1a, .td2a, .td1b, .td2b
	{
		padding: 10px;
		text-align: center;
	}
	
	.td1right, .td2right
	{
		text-align: right;
	}
	
	.td1center, .td2center
	{
		text-align: center;
	}
	
	input, textarea, select
	{
		font-size: 8pt;
		font-family: Arial;
	}
	
	
	{
		font-size: 8pt;
	}

	form {
		margin: 0px;
	}
	h1
	{
		font-size: 14pt;
		font-weight: bold;
		font-family: Arial;
		margin-bottom: 5px;
		color: #3666AE;
	}
	
	h2
	{
		font-size: 11pt;
		font-weight: bold;
		font-family: Arial;
		margin-bottom: 3px;
		color: #14B61F;
	}
	

	.MenuTop
	{
		width: 159px;
		height: 22px;
		background-image: url('../img/admin_menu_top.gif');
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.MenuMiddle
	{
		width: 159px;
		background-image: url('../img/admin_menu_middle.gif');
		margin-left: 5px;
		margin-right: 5px;
		text-align: left;
		padding-bottom: 5px;
		font-size: 8pt;
	}
	.MenuBottom
	{
		width: 159px;
		height: 22px;
		background-image: url('../img/admin_menu_bottom.gif');
		margin-left: 5px;
		margin-right: 5px;
	}
	.MenuHeadline
	{
		width: 149px;
		background-color: #E0E0E0;
		border-top: 1px solid #C3C3C3;
		border-bottom: 1px solid #C3C3C3;
		font-size: 10pt;
		padding-top: 3px;
		padding-bottom: 3px;
		font-weight: bold;
		color: #606060;
		margin-left: 5px;
		margin-right: 5px;
	}
	.MenuElement
	{
		margin: 3px;
		margin-left: 10px;
		font-size: 8pt;
	}
